// sidebar

.logo {
  text-align: center;
}
#logo_image {
  height: 90px;
  width: auto;
  margin: 0 auto;
}

.nav-bar {
  background-color: #55433c;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;

  .logo {
    display: block;
    padding: 8px 0;
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    width: 100%;
    // nav a
    a {
      font-size: 25px;
      color: white;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      &:hover {
        color: #ff9671;
        svg {
          // later replace it with image.
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        color: white;
        text-transform: capitalize;
        font-size: 12px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &::after {
          content: "home";
        }
      }
    }

    // for other link
    a.about-link {
      &:after {
        content: "about";
      }
    }
    a.contact-link {
      &:after {
        content: "contact";
      }
    }

    a.active {
      svg {
        color: #4381f1 !important;
      }
    }
  }

  //   outside nav and inside nav-bar div is unordered list

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 0;

    li {
      padding: 7px 0;
      display: block;
      font-size: 15px;
      line-height: 16px;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        a {
          color: #ff9671;
        }
      }
    }
  }
}
